@import "../main.css";

.admin-panel {
  display: flex;
  padding: 0;
  height: 100vh;
  background-color: var(--backgroundcolor_dark);
}

aside {
  display: flex;
  flex: 0 0 25%;
  top: 0;
  position: sticky;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--aside-backgroundcolor_dark);
  border-right: 0.3vh solid #424449;
  align-items: center;
  color: var(--fontcolor_dark);
  min-height: 100vh;
  overflow-y: scroll;
  transition: all 0.9s ease;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
}

main {
  flex: 1;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: auto !important;
  background-color: var(--backgroundcolor_dark);
  transition: width 0.3s ease;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rally_logo {
  width: 90%;
  height: auto;
  margin: 3vh;
  color: var(--fontcolor_dark);
  object-fit: contain;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:is(.user) :is(h3, h4, h6) {
  margin: 0;
}

.user .role {
  text-transform: uppercase;
  margin: 0;
}

.user .admin_image {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 14vh;
  height: auto;
  margin: 3vh;
  margin-bottom: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  margin: 2vh;
  width: 100%;
  height: 100%;
}

.menu button {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  color: var(--fontcolor_dark);
  font-size: 2.2vh;
  border-radius: 1vh;
  font-weight: 500;
  padding: 0.2vh;
  margin: 1vh;
  border-style: none;
  background-color: var(--menu_buttoncolor_dark);
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
}
.menu button span {
  width: 50%;
  height: auto;
}
.menu button span p {
  text-align: start;
}

.menu button span .menu_icon {
  font-size: 5vh;
}

.menu_button:hover {
  transition-duration: 0.2s;
  background-color: var(--secondary_background_color_dark);
}

.menu_button.active {
  background-color: var(--secondary_background_color_dark);
}

.menu-toggle-button {
  position: block;
  margin: 1vh;
  z-index: 100;
  border: none;
  cursor: pointer;
}

.menu-icon {
  margin: 0%;
  padding: 0%;
  display: none;
  color: var(--secondary_background_color_dark);
  font-size: 2rem;
  width: 6vh;
  border-radius: 5vh;
  transition: background-color 1s ease;
}

.menu-icon-active {
  display: block;
}

.menu-icon-active:hover {
  background-color: var(--fontcolor_dark);
}

.hide-menu {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.full-width {
  width: 100%;
}

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .admin-panel {
    border-right: none;
    flex-direction: column;
  }

  aside {
    flex: 1;
    width: 100%;
    border-right: none;
  }
}
aside .aside-close-icon {
  position: absolute;
  top: 0.3rem;
  right: 0rem;
  color: #f4f4f4;
  font-weight: 900;
  background-color: #f35727;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.section-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  border-radius: 1vh;
  padding: 1.9vh;
  margin: 0 auto;
  margin-bottom: 2vh;
  padding-left: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
}

.section-header .info {
  padding: 2vh;
  font-size: 1rem;
}

.section-header .new-btn {
  background-color: #febe01;
  color: #f6f6f6;
  font-weight: bolder;
  border-radius: 2vh;
}

.section-header .new-btn .icon {
  width: auto;
  padding: 0;
  font-size: 1rem;
}
