.popup {
  display: flex;
  flex-direction: column;
  background-color: var(--input_backgroundcolor_dark);
  color: var(--fontcolor_dark);
  width: 50%;
  min-height: 50vh;
  height: auto;
  margin: 0 auto;
  padding-top: 1.2vh;
  border-radius: 12px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  overflow: auto;
}

.popup .header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3vh;
}

.popup .header_icon{
  margin: 2vh;
  font-size: xx-large;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

form .field {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 0vh 7vh 0vh 7vh;
  align-items: flex-start;
  margin-bottom: 1vh;
}

form .field label {
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 1px;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
}

form .field input, select {
  background-color: var(--backgroundcolor_dark);
  font-size: small;
  width: 100%;
  margin-left: 1px;
  border: none;
  border-radius: 20px;
  border: 1px solid var(--input_bordercolor_dark);
  padding: 10px;
  outline: none;
}

form .field input::placeholder{
  color: var(--secondary_fontcolor_dark);
  opacity: 50%;
}